<h1>About us : </h1>
<br>
<h2>Jungle Garden Centers</h2>

<p>In the early 1920s, the first seasonal garden centres or “sales stations” opened. One was near Yonge and Bloor in Toronto, and the other on Southdown Road in Mississauga.</p>

<p>
Today, Jungle Nurseries operates as a local grower, wholesaler and retailer of plants, garden supplies, patio furniture and home decor products. Many plants are grown locally in Glen Williams and Norval, Ontario. 
</p>
<p>
Certainly, it was challenging in the beginning when we had to navigate mud holes and protect annuals from the bitter cold spring nights. Every morning we would uncover tender annuals, perennials, trees and shrubs, only to recover than every night. The struggle continued when unloading trucks full of trees as we didn't have a dock leveler then. Therefore, each tree was hand lifted from the truck to the ground, then moved again to our tiny tree lot. We are very happy we don't have to go back to the good old days!
</p>
<p>
Modern processes for improved efficiencies in growing and environmental responsibility are added regularly.
</p>
<p>
Jungle Nurseries proudly provides exceptional guest service with knowledgeable staff who can answer just about any gardening questions out there.
</p>
<p>
Without a question, we would never have been able to do all that we do without your support. Give yourself a pat on the back! By supporting greengate Garden Centres you have in turn supported your own community!
</p>

